/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: 0;
}

/* Header */
.header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a4678;
  padding: 20px 200px;
  color: #f0f0f0;

  .header-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .header__nav {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    gap: 2.5rem;

    .header__nav-link {
      font-weight: 600;
      transition: all 0.3s ease;
      padding: 8px 16px;
      font-weight: bold;

      &:hover {
        transform: scale(1.05);
        background-color: #fff;
        color: #003366;
        border-radius: 4px;
      }
    }
  }
}

.main {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  gap: 60px;

  .main-img {
    height: calc(100vh - var(--header-height));
    object-fit: cover;
  }

  .main__section {
    display: grid;
    align-content: center;
    gap: 30px;

    .main__section-title {
      font-size: 6rem;
      line-height: 6rem;
      text-transform: uppercase;
      color: #1a4678;
    }

    .main__section-subtitle {
      font-size: 3.5rem;
      line-height: 3rem;
      text-transform: uppercase;
      color: #bf2a2f;
    }

    .main__section-text {
      font-size: 2rem;
      line-height: 2.75rem;
    }

    .main__section-button {
      font-size: 1.75rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #bf2a2f;
      color: #fff;
      padding: 32px 64px;
      cursor: pointer;
      border-radius: 12px;
      justify-self: start;
      transition: all 0.3s ease;
      border: solid transparent;

      &:hover {
        transform: scale(1.05);
        background-color: #bf2a2f;
        color: #fff;
      }
    }
  }
}
